<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        
        <title>CodingFamily - Future of Kids is our Future. We are all CodingFamily!</title>		
        <link rel="icon" type="image/x-icon" href="https://codingfamily.co.kr/img/codingfamily_v1.ico">
        <meta name="description" content="The kid-friendly coding solution for teachers and parents">
        <meta property="og:title" content="CodingFamily" />
        <meta property="og:description" content="Future of Kids is our Future. We are all CodingFamily!" />
        <meta property="og:image" content="https://codingfamily.co.kr/img/codingfamily_logo_preview.png" />

                
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />


        <link rel="stylesheet" href="./assets/css/style.css">
        <link rel="stylesheet" href="./assets/css/fonts.css">

            <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    </head>
<body>
    <div class="split left" style="position: absolute;">
        <div id="top_menu_left" style="padding: 2px;">
            <div id="block_left_div_button">
                <div style="float:left;height:100%;width:90px;margin-left:10px;">
                    <button type="button" class="btn top_menu_button" id="run_button" style="width:100%; display: none;" onclick="run_code()" style="align:left"></button>
                </div>
                <div style="float:left;height:100%;width:80px;margin-left:10px">
                    <button type="button" class="btn top_menu_button" id="reset_button" style="width:100%; display: none;" onclick="reset()" style="align:left"></button>
                </div>
            </div>
            <div id="block_left_div_p">
            <p id="block_left_p"></p>
            </div>
            <button type="button" class="btn top_menu_button" id="next_level_button"></button>
            
            <!-- <button type="button" class="btn btn-outline-primary" id="javascript_button" onclick="display_javascript()"></button> -->
            <img src="./assets/img/js.png" id="javascript_button" onclick="display_javascript()" style="height: 34px; width: 34px;">
            <img src="./assets/img/hint.png" id="hint_button" onclick="display_hint(<%=content.level%>)" style="height: 34px; width: 34px;">
        </div>
        <div id="block_code">
            <div id='blocklyDiv' style="height: 100%; width: 100%">
            </div>
        </div>
        <!-------------------------------- code info div ------------------------------------>
        <div id="code_info_div" style="top: 2%; height: 98%; width: 100%; z-index: 2; position: absolute; display: none;">
            <pre id="code_info_content" style="padding: 10px; top: 25%;  left: 25%; height: auto; width: 50%; background-color: #FFFFFF; z-index: 3; position: absolute;"></pre>
        </div>
        <!-------------------------------- code info div ------------------------------------>
        <!--------------------------------    hint div   ------------------------------------>
        <div id="hint_div" style="top: 2%; height: 98%; width: 100%; z-index: 2; position: absolute; display: none;">
            <pre id="hint_content" style="padding: 10px; top: 25%;  left: 25%; height: auto; width: 50%; background-color: #FFFFFF; z-index: 3; position: absolute;"></pre>
        </div>
        <!--------------------------------    hint div   ------------------------------------>
    </div>
    <div class="split right">
        <!-- <iframe src="./engine/engine.html" id="iframe_result" frameborder="0" height="100%" width="100%" style="display:block;"></iframe> -->
        <iframe onload="frameload()" src="./engine" id="iframe_result" frameborder="0" height="100%" width="100%" style="display:block;"></iframe>
    </div>

    <!------------------------------------ CLEAR ------------------------------------->
    <div id="clear_div">
        <div id="clear_panel"></div>
        <div class="clear_window">
            <div class="clear_top_div clear_window_div">
                <div id="clear_top_div_title">
                </div>
                <div id="clear_top_div_close">
                    <div class="clear_close_button clear_close_button1 button_div" onclick="retry()"></div>
                </div>
            </div>
            <div class="clear_middle_img_div clear_window_div">
                <img src="./assets/img/clearimg.png">
            </div>
            <div class="clear_middle_data_div clear_window_div round_div">
                <div id="clear_time">
                    <img src="./assets/img/clock.png">
                    <span id="clear_time_text">10분 10초</span>
                </div>
                <div id="clear_coin">
                    <img src="./assets/img/coin.png">
                    10
                </div>
                <div id="clear_xp">
                    <img src="./assets/img/level-up.png">
                    10 XP
                </div>
            </div>

            <div class="clear_bottom_div clear_window_div">
                <div id="clear_bottom_div_retry_button" class="button_div round_div" onclick="retry();">
                </div>
                <div id="clear_bottom_div_next_button" class="button_div round_div">
                </div>
            </div>
        </div>
     </div>
     <!------------------------------------ CLEAR ------------------------------------->

    <!-- BLOCKLY -->

    <script src="./assets/js/blockly/blockly.min.js"></script>
    <!-- <script src="https://unpkg.com/blockly/blockly.min.js"></script> -->
    <!-- <script src="./js/blockly_compressed.js"></script>
    <script src="./js/javascript_compressed.js"></script> -->
    

    <script src="./assets/js/blockly/msg/default_items.js"></script>

    <script src="./assets/js/blockly/msg/ko.js"></script>

    <script src="./assets/js/acorn_interpreter.js"></script>

    <% for (block_item_pos in content.block_list["custom"]) { %>
        <script src="./assets/js/block/<%= content.block_list["custom"][block_item_pos]["name"] %>_block.js"></script>
    <% } %>


    <script src="./assets/js/blockly/javascript.js"></script>

    <script type='text/javascript' src='./assets/js/default_block_level/level_<%= content.level %>.js'></script>

    <script type='text/javascript' src='./assets/js/blockly/blockly_info.js'></script>


    <xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none;">
        <% for (block_item_pos in content.block_list["custom"]) { %>
            <block type="<%= content.block_list["custom"][block_item_pos]["name"] %>_block">
                <!-- TODO: Implement fields for custom blocks -->
            </block>
        <% } %>
        <% for (block_item_pos in content.block_list["basic"]) { %>
            <block type="<%= content.block_list["basic"][block_item_pos]["name"] %>">
                <!-- <field name="TIMES">100</field> -->
                <% for (field_item_pos in content.block_list["basic"][block_item_pos]["fields"]) { %>
                    <field name="<%= content.block_list["basic"][block_item_pos]["fields"][field_item_pos]["name"] %>"><%= content.block_list["basic"][block_item_pos]["fields"][field_item_pos]["value"] %></field>
                <% } %>
            </block>
        <% } %>
    </xml>

    <script>
        var level = parseInt(<%- JSON.stringify(content.level)%>) ;
        var max_level = parseInt(<%- JSON.stringify(content.max_level)%>) ;
    </script>


    <script src="./assets/js/hints.js"></script>

    <script>
        function initApi(interpreter, globalObject) {
            // Add an API function for the alert() block, generated for "text_print" blocks.
            const wrapperAlert = function alert(text) {
                text = arguments.length ? text : '';
                outputArea.value += '\n' + text;
            };
            

            console.log
            interpreter.setProperty(globalObject, 'alert',
                interpreter.createNativeFunction(wrapperAlert));

            // Add an API function for the prompt() block.
            const wrapperPrompt = function prompt(text) {
                return window.prompt(text);
            };
            interpreter.setProperty(globalObject, 'prompt',
                interpreter.createNativeFunction(wrapperPrompt));

            // Add an API function for highlighting blocks.
            const wrapper = function(id) {
                id = String(id || '');
                return highlightBlock(id);
            };

            demoWorkspce.addChangeListener(function(event) {
                if(!event.isUiEvent)
                    resetStepUi(true);
            })
            interpreter.setProperty(globalObject, 'highlightBlock',
                interpreter.createNativeFunction(wrapper));

            // Add an API for the wait block.  See wait_block.js
            initInterpreterWaitForSeconds(interpreter, globalObject);
        }
    </script>

    <script src="./assets/js/run_iframe_script.js"></script>

    <% if (content.level === content.max_level) { %>
        <script src="./assets/js/victory_animation.js"></script>
    <% } %>
    
</body>
</html>